# -*- coding: utf-8 -*-

"""
mergedapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from mergedapi.api_helper import APIHelper
from mergedapi.configuration import Server
from mergedapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from mergedapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from apimatic_core.authentication.multiple.or_auth_group import Or
from mergedapi.models.account_device_list import AccountDeviceList
from mergedapi.models.account_device_list_1 import AccountDeviceList1
from mergedapi.models.device_list_response import DeviceListResponse
from mergedapi.models.request_response import RequestResponse
from mergedapi.models.add_devices_response_message import AddDevicesResponseMessage
from mergedapi.models.delete_devices_response_message import DeleteDevicesResponseMessage
from mergedapi.models.device_list_response_1 import DeviceListResponse1
from mergedapi.models.device_mismatch_list_response import DeviceMismatchListResponse
from mergedapi.models.connection_history_response import ConnectionHistoryResponse
from mergedapi.models.device_extended_diagnostics_response import DeviceExtendedDiagnosticsResponse
from mergedapi.models.device_provisioning_history_list_response import DeviceProvisioningHistoryListResponse
from mergedapi.models.device_usage_list_response import DeviceUsageListResponse
from mergedapi.exceptions.error_exception import ErrorException
from mergedapi.exceptions.rest_error_response_exception import RestErrorResponseException


class DevicesController(BaseController):

    """A Controller to access Endpoints in the mergedapi API."""
    def __init__(self, config):
        super(DevicesController, self).__init__(config)

    def get_account_devices_information(self,
                                        account,
                                        last_seen_device_id=None,
                                        distribution_type=None):
        """Does a GET request to /devices/{account}.

        The device endpoint gets devices information of an account.

        Args:
            account (string): Account identifier
            last_seen_device_id (string, optional): Last seen device
                identifier
            distribution_type (string, optional): Filter distributionType to
                get specific type of devices. Values is LWM2M, OMD-DM or HTTP

        Returns:
            AccountDeviceList: Response from the API. Return array of
                devices.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT7)
            .path('/devices/{account}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('account')
                            .value(account)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('lastSeenDeviceId')
                         .value(last_seen_device_id))
            .query_param(Parameter()
                         .key('distributionType')
                         .value(distribution_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountDeviceList.from_dictionary)
            .local_error('400', 'Unexpected error', ErrorException)
        ).execute()

    def account_device_information(self,
                                   acc,
                                   last_seen_device_id=None,
                                   protocol='LWM2M'):
        """Does a GET request to /devices/{acc}.

        Retrieve account device information such as reported firmware on the
        devices

        Args:
            acc (string): Account identifier
            last_seen_device_id (string, optional): Last seen device
                identifier
            protocol (DevicesProtocolEnum, optional): Filter to retrieve a
                specific protocol type used

        Returns:
            AccountDeviceList1: Response from the API. Returns an array of
                devices

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT8)
            .path('/devices/{acc}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('acc')
                            .value(acc)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('lastSeenDeviceId')
                         .value(last_seen_device_id))
            .query_param(Parameter()
                         .key('protocol')
                         .value(protocol))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountDeviceList1.from_dictionary)
            .local_error('400', 'Unexpected error', ErrorException)
        ).execute()

    def account_device_information_for_devices(self,
                                               acc,
                                               body):
        """Does a POST request to /devices/{acc}.

        Retrieve device information for a list of devices on an account

        Args:
            acc (string): Account identifier
            body (LicensesAssignedRemovedRequest): Request device list
                information

        Returns:
            DeviceListResponse: Response from the API. Get device list
                information

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT8)
            .path('/devices/{acc}')
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                            .key('acc')
                            .value(acc)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceListResponse.from_dictionary)
            .local_error('400', 'Unexpected error', ErrorException)
        ).execute()

    def active_using_post(self,
                          body):
        """Does a POST request to /devices/actions/activate.

        If the devices do not already exist in the account, this API resource
        adds them before activation.

        Args:
            body (CarrierActivateRequest): Activate request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/activate')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def add_using_post(self,
                       body):
        """Does a POST request to /devices/actions/add.

        Use this API if you want to manage some device settings before you are
        ready to activate service for the devices.

        Args:
            body (AddDevicesRequest): Devices to Add

        Returns:
            list of AddDevicesResponseMessage: Response from the API. For each
                device in the request, contains device identifiers and a
                success or failure response.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/add')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AddDevicesResponseMessage.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def update_contact_info_using_put(self,
                                      body):
        """Does a PUT request to /devices/actions/contactinfo.

        Sends a CarrierService callback message for each device in the request
        when the contact information has been changed, or if there was a
        problem and the change could not be completed.

        Args:
            body (ContactInfoUpdateRequest): Change contact info request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/contactinfo')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def update_custom_fields_using_put(self,
                                       body):
        """Does a PUT request to /devices/actions/customFields.

        Sends a CarrierService callback message for each device in the request
        when the custom fields have been changed, or if there was a problem
        and the change could not be completed.

        Args:
            body (CustomFieldsUpdateRequest): Change custom fields request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/customFields')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def deactive_using_post(self,
                            body):
        """Does a POST request to /devices/actions/deactivate.

        Deactivating service for a device may result in an early termination
        fee (ETF) being charged to the account, depending on the terms of the
        contract with Verizon. If your contract allows ETF waivers and if you
        want to use one for a particular deactivation, set the etfWaiver value
        to True.

        Args:
            body (CarrierDeactivateRequest): Deactivate request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/deactivate')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def delete_using_post(self,
                          body):
        """Does a POST request to /devices/actions/delete.

        Use this API to remove unneeded devices from an account

        Args:
            body (DeleteDevicesRequest): Devices to delete

        Returns:
            list of DeleteDevicesResponseMessage: Response from the API. For
                each device in the request, contains device identifiers and a
                success or failure response.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/delete')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeleteDevicesResponseMessage.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def list_using_post(self,
                        body):
        """Does a POST request to /devices/actions/list.

        Returns information about a single device or information about all
        devices that match the given parameters. Returned information includes
        device provisioning state, service plan, MDN, MIN, and IP address.

        Args:
            body (DeviceListRequest): Device Query

        Returns:
            DeviceListResponse1: Response from the API. List of devices that
                match the request parameters, ordered by device creation date,
                oldest first.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceListResponse1.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def imei_iccid_mismatch_list_using_post(self,
                                            body):
        """Does a POST request to /devices/actions/list/imeiiccidmismatch.

        Returns a list of all 4G devices with an ICCID (SIM) that was not
        activated with the expected IMEI (hardware) during a specified time
        frame.

        Args:
            body (DeviceMismatchListRequest): Device Query

        Returns:
            DeviceMismatchListResponse: Response from the API. List of devices
                that have mismatched IMEIs and ICCIDs.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/list/imeiiccidmismatch')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceMismatchListResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def move_using_put(self,
                       body):
        """Does a PUT request to /devices/actions/move.

        Move active devices from one billing account to another within a
        customer profile.

        Args:
            body (MoveDeviceRequest): Move request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/move')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def gotostate_using_put(self,
                            body):
        """Does a PUT request to /devices/actions/gotostate.

        Changes the provisioning state of one or more devices to a specified
        customer-defined service and state.

        Args:
            body (GoToStateRequest): Move state request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/gotostate')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def update_service_plan_using_put(self,
                                      body):
        """Does a PUT request to /devices/actions/plan.

        Changes the service plan for one or more devices.

        Args:
            body (ServicePlanUpdateRequest): Change service plan request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/plan')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def suspend_using_post(self,
                           body):
        """Does a POST request to /devices/actions/suspend.

        Suspends service for one or more devices.

        Args:
            body (CarrierActionsRequest): Suspend request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/suspend')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def restore_using_post(self,
                           body):
        """Does a POST request to /devices/actions/restore.

        Restores service to one or more suspended devices.

        Args:
            body (CarrierActionsRequest): Restore request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/actions/restore')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def device_availability_list_using_post(self,
                                            body):
        """Does a POST request to /devices/availability/actions/list.

        Checks whether specified devices are registered by the manufacturer
        with the Verizon network and are available to be activated.

        Args:
            body (DeviceRequest): Device Query

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/availability/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def connection_list_history_using_post(self,
                                           body):
        """Does a POST request to /devices/connections/actions/listHistory.

        Each response includes a maximum of 500 records. To obtain more
        records, you can call the API multiple times, adjusting the earliest
        value each time to start where the previous request finished.

        Args:
            body (DeviceConnectionListRequest): Device connection query

        Returns:
            ConnectionHistoryResponse: Response from the API. List of device
                connection events, sorted by the occurredAt timestamp, oldest
                first.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/connections/actions/listHistory')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConnectionHistoryResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def change_cost_center_using_put(self,
                                     body):
        """Does a PUT request to /devices/costCenter.

        Changes or removes the CostCenterCode value or customer name and
        address (Primary Place of Use) for one or more devices.

        Args:
            body (DeviceCostCenterRequest): Change cost center request

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/costCenter')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def get_extended_diags_using_post(self,
                                      body):
        """Does a POST request to /devices/extendeddiagnostics/actions/list.

        Returns extended diagnostic information about a specified device,
        including connectivity, provisioning, billing and location status.

        Args:
            body (DeviceExtendedDiagnosticsRequest): Device Query

        Returns:
            DeviceExtendedDiagnosticsResponse: Response from the API. Device
                diagnostic information

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/extendeddiagnostics/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceExtendedDiagnosticsResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def provisioning_history_list_using_post(self,
                                             body):
        """Does a POST request to /devices/history/actions/list.

        Returns the provisioning history of a specified device during a
        specified time period.

        Args:
            body (DeviceProvisioningHistoryListRequest): Device provisioning
                history query

        Returns:
            list of DeviceProvisioningHistoryListResponse: Response from the
                API. List of Device Provision History events, sorted by the
                timestamp, oldest first.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/history/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceProvisioningHistoryListResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def prl_list_using_post(self,
                            body):
        """Does a POST request to /devices/prl/actions/list.

        4G and GSM devices do not have a PRL.

        Args:
            body (DevicePrlListRequest): Device PRL query

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/prl/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def get_device_suspension_status_using_post(self,
                                                body):
        """Does a POST request to /devices/suspension/status.

        Returns DeviceSuspensionStatus callback messages containing the
        current device state and information on how many days a device has
        been suspended and can continue to be suspended.

        Args:
            body (DeviceSuspensionStatusRequest): Device query

        Returns:
            RequestResponse: Response from the API. Request ID

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/suspension/status')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def usage_list_using_post(self,
                              body):
        """Does a POST request to /devices/usage/actions/list.

        Returns the network data usage history of a device during a specified
        time period.

        Args:
            body (DeviceUsageListRequest): Device usage query

        Returns:
            DeviceUsageListResponse: Response from the API. List of device
                usage events, sorted by the timestamp, oldest first.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/usage/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceUsageListResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def aggregate_using_post(self,
                             body):
        """Does a POST request to /devices/usage/actions/list/aggregate.

        The information is returned in a callback response, so you must
        register a URL for DeviceUsage callback messages using the POST
        /callbacks API.

        Args:
            body (DeviceAggregateUsageListRequest): Aggregated usage request

        Returns:
            RequestResponse: Response from the API. A unique string that
                associates the request with the results that are sent via a
                callback service.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/usage/actions/list/aggregate')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()

    def change_device_id_using_put(self,
                                   service_type,
                                   body):
        """Does a PUT request to /devices/{serviceType}/actions/deviceId.

        Changes the identifier of a 3G or 4G device to match hardware changes
        made for a line of service. Use this request to transfer the line of
        service and the MDN to new hardware, or to change the MDN.

        Args:
            service_type (string): Identifier type
            body (ChangeDeviceIdRequest): Device query

        Returns:
            RequestResponse: Response from the API. A unique string that
                associates the request with the results that are sent via a
                callback service.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT9)
            .path('/devices/{serviceType}/actions/deviceId')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('serviceType')
                            .value(service_type)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RequestResponse.from_dictionary)
            .local_error('400', 'Error Response', RestErrorResponseException)
        ).execute()
