# -*- coding: utf-8 -*-

"""
mergedapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from mergedapi.api_helper import APIHelper
from mergedapi.configuration import Server
from mergedapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from mergedapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from apimatic_core.authentication.multiple.or_auth_group import Or
from mergedapi.models.check_in_history_item import CheckInHistoryItem
from mergedapi.exceptions.error_exception import ErrorException


class ServerLoggingController(BaseController):

    """A Controller to access Endpoints in the mergedapi API."""
    def __init__(self, config):
        super(ServerLoggingController, self).__init__(config)

    def get_device_check_in_history(self,
                                    account,
                                    device_id):
        """Does a GET request to /logging/{account}/devices/{deviceId}/checkInHistory.

        Check-in history can be retrieved for any device belonging to the
        account, not necessarily with logging enabled

        Args:
            account (string): Account identifier
            device_id (string): Device IMEI identifier

        Returns:
            list of CheckInHistoryItem: Response from the API. List of
                check-in history entries

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT7)
            .path('/logging/{account}/devices/{deviceId}/checkInHistory')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('account')
                            .value(account)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('deviceId')
                            .value(device_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CheckInHistoryItem.from_dictionary)
            .local_error('400', 'Unexpected error', ErrorException)
        ).execute()
